{% load static %}
<style>
    body{
        margin-bottom: 100px;
        
    }
    .footer{
        margin-left: 20px;
        position: fixed;
        bottom:0;
        width: 100%;
        background-color: #f8f9fa;
    }
</style>
<div class="footer">
<div class="row">

    <div class="col-md-4">
           <h5 class="text-primary">Address</h5>
           <p>2nd Floor,Ishan Arcade1,<br>
              Near Goadevi Mandir,<br>
              Gokhale Road Thane-West
            </p>

           <p>Email us:help@itvedant.com <br>
              Contact Us:9898989898
            </p>



    </div><!----Address end---->

    <div class="col-md-4">
           <h5 class="text-primary">Quick Link</h5>
           <ul type="none">
                <li><a href="/productapp">Home</a></li>
                <li><a href="/cartapp/">Login</a></li>
                <li><a href="support.html">Register</a></li>
           </ul>

    </div><!----Quick end---->

    <div class="col-md-4">
           <h5 class="text-primary">Connect Us</h5>
           <a href="https://www.twitter.com"<i class="bi bi-twitter-x"></i></a>&nbsp;&nbsp;
           <a href="https://www.facebook.com"<i class="bi bi-facebook"></i></a>&nbsp;&nbsp;
           <a href="https://www.instagram.com"<i class="bi bi-instagram"></i></a>&nbsp;&nbsp;
           <a href="https://www.linkedin.com"<i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;

    </div><!----Social connect end---->

</div>
<!-------footer end----->





</div><!---Container end-->

</div>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>

</html>